#body1{
  background-image: url('https://unsplash.imgix.net/45/HWijjF7RwOPGEJ1nb4Zb_IMG_3773.jpg?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=5c4d815f60933514c19eda5655f240eb');
  background-size: 1500px;
    background-repeat: no-repeat;
    color: black;
}
#body2{
  background-image: url('http://wallpoper.com/images/00/24/22/58/blue-minimalistic_00242258.jpg');
   background-repeat: no-repeat;
   background-size: 1500px;
}
#body3{
  background-image: url('https://unsplash.imgix.net/5/night-city.jpg?q=75&fm=jpg&auto=format&s=0117c023a6f6d16daa0d365eea2ceb89');
  background-size: 1500px;
  background-repeat: no-repeat;
}
/* My Name */
.name{
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: black;
  margin-right: 100px;
  font-size: 120px;
 /* margin-top: 12em;*/

}
a:link {
    color: black;
}
.nav1{
  background-color:gray;
  opacity: .6;
  color: black;
  text-align: left;
  padding-top: 10px;
  padding-left: 150px;
  font-size: 20px;
  height: inherit;
  margin: 0 auto;

}
#nav2{
  text-align: left;
  font-size: 20px;
   padding-top: 10px;
  padding-left: 150px;
  background-color: #113B51;
  opacity: .8;
  height: 60px;
}
.modal-content{
color: black;

}
#aboutme{
	/*height: 500px;*/
	width: 800px;
	background-color: gray;
	margin-left: 250px;
	opacity: .6;
	margin-top: 20px;
  font-size: 17px;
  color: black;
}

html, body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-family:'Oswald', sans-serif;
  font-size: 14px;
  font-weight: 100;
  color: #fff;
  text-align: center;
  text-transform: bold;
}
h1 {
  font-size: 6em;
  margin: 0;
}

h2 {
  color: white;
  font-size: 45px;
  margin: 32px;
}
/* projects page; pictures */
.image-container {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  background: #fff;
  cursor: pointer;
}

.image {
  width: 200px;
  height: 200px;
  z-index: 1;
  transition: all .5s;
}

.image img {
  max-width: 100%;
}

.caption {
  width: 200px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(0,0,0,.8);
  z-index: 2;
  font-weight: 300;
  transition: all .5s;
}

.caption-num1 {
  position: relative;
  height: 60px;
  padding: none;
  transform: rotate(45deg) translateY(-280px) translateX(-50%);
}

.bottom {
  position: absolute;
  bottom: 15px;
  left: 0px;
  right: 0;
}

.image-container-num1:hover .caption-num1 {
  transform: rotate(45deg) translateY(-200px) translateX(-50%)
}

.caption-num2 {
  transform: translateY(140px);
}
.image-container-num2:hover .image-num2 {
  transform: scale(1.5) rotate(-10deg);
}
.image-container-num2:hover .caption-num2 {
 transform: translateY(-100%);
}
.image-num3 img {
  max-width: none;
  max-height: 100%;
}
.image-num3 {
  direction: rtl;
}
.caption-num3 {
  opacity: 0;
  width: 300px;
  text-align:right;
  padding-right: 14px;
  transform: translateY(-100%);
}
.image-container-num3:hover .image-num3 {
  transform: translateX(50%);
}
.image-container-num3:hover .caption-num3 {
  opacity: 1;
  transform: translateY(-100%) translateX(-114px);
}
.image-container-num4:hover .image-num4 {
  transform: scale(1.5) rotate(-10deg);
}
.image-container-num4:hover .caption-num4 {
  transform: translateY(-100%);
}
.image-num5 img {
  max-width: none;
  transform: translateY(-50px) translateX(-50px);
}
.caption-num5 {
  transform: translateY(-100%);
  opacity: 0;
}
.image-container-num5:hover .image-num5 {
  transform: rotate(45deg);
}
.image-container-num5:hover .caption-num5 {
  opacity: 1;
}
.caption-num6 {
  transform: translateY(-200px) translateY(-100%);
}
.image-container-num6:hover .caption-num6 {
  transform: translateY(-200px);
}
.image-container-num6:hover .image-num6 {
  opacity: .5;
}
.caption-num7 {
  height: 200px;
  background: none;
  color: #333;
  font-size: 20px;
  opacity: 0;
}
.image-container-num7:hover .caption-num7 {
  opacity: 1;
  transform: translateY(-75%);
}
.image-container-num7:hover .image-num7 {
  transform: scale(1.5);
  opacity: .15;
}
.break {
  display: none;
}
/*
@media all and (max-width: 650px) {
  .image-container {
    margin: 30px;
    outline: solid 20px #eee;
  }
  .break {
    display: initial;
  }
}

/* projects page; paragraph */
body { margin: 0; padding: 0;}
#container {width:100%;}
section { padding: 5% 15%; margin: 0 auto;}

section:nth-of-type(2) {
  background-color: gray;
}

section:nth-of-type(3) {
  background-color: #2f2f2f;
  color: #fff;
}
/*
@media all and (max-width: 650px) {
  .image-container {
    margin: 30px;
    outline: solid 20px #eee;
  }
  .break {
    display: initial;
  }
}
/* to make image a circle */
.circular {
  margin-left: 475px;
  margin-top: 15px;
  text-align: center;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(http://www.lalemant.com/assets/99/person-placeholder-female.jpg) no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  color: black;
  }
/* media queries 
@media (max-width:568px){
  #body1{
    width: auto;
  }
  #nav1{
    float:none;
      width: auto;
  }
  #aboutme{
    width: auto;
  }
  
  .name{
    width: auto;
  }
  #content {
      float: none;
      width: 100%;
    }
}
*/
@media (max-width: 320px) {
  #body3{
    width: 100%;
    height: inherit;
  }
  .nav{
  width: 20%;
  height: inherit;
}
.name{
  width: 10%;
  height: inherit;
  font-size: 110px;
  text-align: center;
}
.circular{
  width: 50%;
  height: 30%;
  margin-left: 30%;
}
#aboutme{ 
 width: 80%;
 height: inherit;
 margin-left: 10%;
}

} \/*#aboutme{
    width: 100%;
  }
  #body1{
    width: 100%;
  }  */