body {
	background-color: #265976;
	color: black;
	font-size: 40px;
}
#body1{
  background-image: url('https://unsplash.imgix.net/45/HWijjF7RwOPGEJ1nb4Zb_IMG_3773.jpg?q=75&w=1080&h=1080&fit=max&fm=jpg&auto=format&s=5c4d815f60933514c19eda5655f240eb');
  background-size: 1500px;
    background-repeat: no-repeat;
}
/* My Name */
.name{
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: black;
  margin-right: 50px;
 /* margin-top: 12em;*/

}
#header{
	/*height:250px;*/
}
#nav1{
  height: 60px;
  background-color:gray;
  opacity: .6;
  color: black;
  text-align: left;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 25px;
}
#div1{
color: black;
}

#aboutme{
	/*height: 500px;*/
	width: 800px;
	background-color: gray;
	margin-left: 250px;
	opacity: .6;
	margin-top: 20px;
  font-size: 17px;
  color: black;
}
html, body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-family:'Oswald', sans-serif;
  font-size: 14px;
  font-weight: 100;
  color: #fff;
  text-align: center;
  text-transform: bold;
}
h2 {
  color: #333;
  font-size: 45px;
  margin: 32px;
}
.image-container {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  background: #fff;
  cursor: pointer;
}
.image {
  width: 200px;
  height: 200px;
  z-index: 1;
  transition: all .5s;
}
.image img {
  max-width: 100%;
}
.caption {
  width: 200px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(0,0,0,.8);
  z-index: 2;
  font-weight: 300;
  transition: all .5s;
}
.caption-num1 {
  position: relative;
  height: 60px;
  padding: none;
  transform: rotate(45deg) translateY(-280px) translateX(-50%);
}
.bottom {
  position: absolute;
  bottom: 15px;
  left: 0px;
  right: 0;
}
.image-container-num1:hover .caption-num1 {
  transform: rotate(45deg) translateY(-200px) translateX(-50%)
}
.caption-num2 {
  transform: translateY(140px);
}
.image-container-num2:hover .image-num2 {
  opacity: .5;
  transform: translateY(-50%) translateY(0px);
}
.image-container-num2:hover .caption-num2 {
  transform: translateY(-37px);
}
.image-num3 img {
  max-width: none;
  max-height: 100%;
}
.image-num3 {
  direction: rtl;
}
.caption-num3 {
  opacity: 0;
  width: 300px;
  text-align:right;
  padding-right: 14px;
  transform: translateY(-100%);
}
.image-container-num3:hover .image-num3 {
  transform: translateX(50%);
}
.image-container-num3:hover .caption-num3 {
  opacity: 1;
  transform: translateY(-100%) translateX(-114px);
}
.image-container-num4:hover .image-num4 {
  transform: scale(1.5) rotate(-10deg);
}
.image-container-num4:hover .caption-num4 {
  transform: translateY(-100%);
}
.image-num5 img {
  max-width: none;
  transform: translateY(-50px) translateX(-50px);
}
.caption-num5 {
  transform: translateY(-100%);
  opacity: 0;
}
.image-container-num5:hover .image-num5 {
  transform: rotate(45deg);
}
.image-container-num5:hover .caption-num5 {
  opacity: 1;
}
.caption-num6 {
  transform: translateY(-200px) translateY(-100%);
}
.image-container-num6:hover .caption-num6 {
  transform: translateY(-200px);
}
.image-container-num6:hover .image-num6 {
  opacity: .5;
}
.caption-num7 {
  height: 200px;
  background: none;
  color: #333;
  font-size: 20px;
  opacity: 0;
}
.image-container-num7:hover .caption-num7 {
  opacity: 1;
  transform: translateY(-75%);
}
.image-container-num7:hover .image-num7 {
  transform: scale(1.5);
  opacity: .15;
}
.break {
  display: none;
}
@media all and (max-width: 650px) {
  .image-container {
    margin: 30px;
    outline: solid 20px #eee;
  }
  .break {
    display: initial;
  }
}
/*html, body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Lato", Segoe UI, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 100;
  color: #fff;
  text-align: left;
}
h2 {
  color: #333;
  font-size: 45px;
  margin: 32px;
}
.image-container {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  background: #fff;
  cursor: pointer;
}
.image {
  width: 200px;
  height: 200px;
  z-index: 1;
  transition: all .5s;
}
.image img {
  max-width: 100%;
}
.caption {
  width: 200px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(0,0,0,.8);
  z-index: 2;
  font-weight: 300;
  transition: all .5s;
}
.caption-num1 {
  position: relative;
  height: 60px;
  padding: none;
  transform: rotate(45deg) translateY(-280px) translateX(-50%);
}
.bottom {
  position: absolute;
  bottom: 15px;
  left: 0px;
  right: 0;
}
.image-container-num1:hover .caption-num1 {
  transform: rotate(45deg) translateY(-200px) translateX(-50%)
}
.caption-num2 {
  transform: translateY(140px);
}
.image-container-num2:hover .image-num2 {
  opacity: .8;
  transform: translateY(-50%) translateY(0px);
}
.image-container-num2:hover .caption-num2 {
  transform: translateY(-37px);
}
.image-num3 img {
  max-width: none;
  max-height: 100%;
}
.image-num3 {
  direction: rtl;
}
.caption-num3 {
  opacity: 0;
  width: 300px;
  text-align:right;
  padding-right: 14px;
  transform: translateY(-100%);
}
.image-container-num3:hover .image-num3 {
  transform: translateX(50%);
}
.image-container-num3:hover .caption-num3 {
  opacity: 1;
  transform: translateY(-100%) translateX(-114px);
}
.image-container-num4:hover .image-num4 {
  transform: scale(1.5) rotate(-10deg);
}
.image-container-num4:hover .caption-num4 {
  transform: translateY(-100%);
}
.image-num5 img {
  max-width: none;
  transform: translateY(-50px) translateX(-50px);
}
.caption-num5 {
  transform: translateY(-100%);
  opacity: 0;
}
.image-container-num5:hover .image-num5 {
  transform: rotate(45deg);
}
.image-container-num5:hover .caption-num5 {
  opacity: 1;
}
.caption-num6 {
  transform: translateY(-200px) translateY(-100%);
}
.image-container-num6:hover .caption-num6 {
  transform: translateY(-200px);
}
.image-container-num6:hover .image-num6 {
  opacity: .5;
}
.caption-num7 {
  height: 200px;
  background: none;
  color: #333;
  font-size: 20px;
  opacity: 0;
}
.image-container-num7:hover .caption-num7 {
  opacity: 1;
  transform: translateY(-75%);
}
.image-container-num7:hover .image-num7 {
  transform: scale(1.5);
  opacity: .15;
}
.break {
  display: none;
}
*/
@media all and (max-width: 650px) {
  .image-container {
    margin: 30px;
    outline: solid 20px #eee;
  }
  .break {
    display: initial;
  }
}
/*side animation*/
#maximation2{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%; right: 87%;
  margin: -50px 0 0 -50px;
  -webkit-animation: rotate 2s ease-in-out infinite;
}

#maximation{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%; left: 90%;
  margin: -50px 0 0 -50px;
  -webkit-animation: rotate 2s ease-in-out infinite;
}

@-webkit-keyframes rotate{
  0%   {transform:rotate(0deg);}
  50% {transform:rotate(180deg);}
  100% {transform:rotate(360deg);}
}
@-moz-keyframes rotate{
  0%   {transform:rotate(0deg);}
  50% {transform:rotate(180deg);}
  100% {transform:rotate(360deg);}
}
@-o-keyframes rotate{
  0%   {transform:rotate(0deg);}
  50% {transform:rotate(180deg);}
  100% {transform:rotate(360deg);}
}
@keyframes rotate{
  0%   {transform:rotate(0deg);}
  50% {transform:rotate(180deg);}
  100% {transform:rotate(360deg);}
}

.quarter{
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: #66E;
  -webkit-animation: rotate 2s ease-in-out infinite;
  -moz-animation: rotate 2s ease-in-out infinite;
  animation: rotate 2s ease-in-out infinite;
}
.quarter:nth-child(1){
  top: 0; left: 0;
  border-radius: 100% 0 0 0;
}
.quarter:nth-child(2){
  top: 0; right: 0;
  border-radius:  0 100% 0 0;
}
.quarter:nth-child(3){
  bottom: 0; left: 0;
  border-radius: 0 0  0 100%;
}
.quarter:nth-child(4){
  bottom: 0; right: 0;
  border-radius: 0 0 100% 0;
}
body { margin: 0; padding: 0;}
#container {width:100%;}
section { padding: 5% 15%; margin: 0 auto;}

section:nth-of-type(2) {
  background-color: #cecece;
}

section:nth-of-type(3) {
  background-color: #2f2f2f;
  color: #fff;
}
/*sparkles popping from name*/
/*body {
  background: #222;
  font-family: Helvetica;
  text-align: center;
  color: #fff;
  margin-top: 12em;
}
*/
.wrapper {
  width: 30em;
  margin: 0 auto;
  position: relative;
  -webkit-perspective: 13em;
}

h1 {
  font-size: 6em;
  margin: 0;
}

.hover {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.dot {
  position: absolute;
  border-radius: 100%;
  width: .5em;
  height: .5em;
  display: block;
  left: 50%;
  top: 50%;
  opacity: 0.5;
}

.dot:nth-child(1) {
  background: blue;
  -webkit-transform: translateX(-21px) translateY(-7px) translateZ(25px) rotate3d(1, 1, 1, 279deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(1) {
  opacity: 1;
  -webkit-transform: translateX(-21px) translateY(-37px) translateZ(-78px) rotate3d(1, 1, 1, 10deg) scale(1);
}

.dot:nth-child(2) {
  background: turquoise;
  -webkit-transform: translateX(-76px) translateY(29px) translateZ(-4px) rotate3d(1, 1, 1, 304deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(2) {
  opacity: 1;
  -webkit-transform: translateX(-76px) translateY(-1px) translateZ(38px) rotate3d(1, 1, 1, 9deg) scale(1);
}

.dot:nth-child(3) {
  background: navy;
  -webkit-transform: translateX(173px) translateY(-38px) translateZ(1px) rotate3d(1, 1, 1, 121deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(3) {
  opacity: 1;
  -webkit-transform: translateX(173px) translateY(-68px) translateZ(98px) rotate3d(1, 1, 1, 9deg) scale(1);
}

.dot:nth-child(4) {
  background: aqua;
  -webkit-transform: translateX(81px) translateY(29px) translateZ(-43px) rotate3d(1, 1, 1, 286deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(4) {
  opacity: 1;
  -webkit-transform: translateX(81px) translateY(-1px) translateZ(-9px) rotate3d(1, 1, 1, 5deg) scale(1);
}

.dot:nth-child(5) {
  background: blue;
  -webkit-transform: translateX(-10px) translateY(-40px) translateZ(41px) rotate3d(1, 1, 1, 342deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(5) {
  opacity: 1;
  -webkit-transform: translateX(-10px) translateY(-70px) translateZ(16px) rotate3d(1, 1, 1, 2deg) scale(1);
}

.dot:nth-child(6) {
  background: turquoise;
  -webkit-transform: translateX(31px) translateY(-10px) translateZ(15px) rotate3d(1, 1, 1, 298deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(6) {
  opacity: 1;
  -webkit-transform: translateX(31px) translateY(-40px) translateZ(10px) rotate3d(1, 1, 1, 2deg) scale(1);
}

.dot:nth-child(7) {
  background: navy;
  -webkit-transform: translateX(-146px) translateY(-34px) translateZ(10px) rotate3d(1, 1, 1, 344deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(7) {
  opacity: 1;
  -webkit-transform: translateX(-146px) translateY(-64px) translateZ(-59px) rotate3d(1, 1, 1, 10deg) scale(1);
}

.dot:nth-child(8) {
  background: aqua;
  -webkit-transform: translateX(118px) translateY(20px) translateZ(-37px) rotate3d(1, 1, 1, 35deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(8) {
  opacity: 1;
  -webkit-transform: translateX(118px) translateY(-10px) translateZ(-34px) rotate3d(1, 1, 1, 1deg) scale(1);
}

.dot:nth-child(9) {
  background: blue;
  -webkit-transform: translateX(61px) translateY(6px) translateZ(-12px) rotate3d(1, 1, 1, 85deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(9) {
  opacity: 1;
  -webkit-transform: translateX(61px) translateY(-24px) translateZ(33px) rotate3d(1, 1, 1, 9deg) scale(1);
}

.dot:nth-child(10) {
  background: turquoise;
  -webkit-transform: translateX(36px) translateY(45px) translateZ(-13px) rotate3d(1, 1, 1, 68deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(10) {
  opacity: 1;
  -webkit-transform: translateX(36px) translateY(15px) translateZ(-57px) rotate3d(1, 1, 1, 1deg) scale(1);
}

.dot:nth-child(11) {
  background: navy;
  -webkit-transform: translateX(-187px) translateY(22px) translateZ(8px) rotate3d(1, 1, 1, 126deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(11) {
  opacity: 1;
  -webkit-transform: translateX(-187px) translateY(-8px) translateZ(-11px) rotate3d(1, 1, 1, 2deg) scale(1);
}

.dot:nth-child(12) {
  background: aqua;
  -webkit-transform: translateX(159px) translateY(-9px) translateZ(38px) rotate3d(1, 1, 1, 4deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(12) {
  opacity: 1;
  -webkit-transform: translateX(159px) translateY(-39px) translateZ(-63px) rotate3d(1, 1, 1, 3deg) scale(1);
}

.dot:nth-child(13) {
  background: blue;
  -webkit-transform: translateX(-116px) translateY(-13px) translateZ(49px) rotate3d(1, 1, 1, 154deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(13) {
  opacity: 1;
  -webkit-transform: translateX(-116px) translateY(-43px) translateZ(-68px) rotate3d(1, 1, 1, 6deg) scale(1);
}

.dot:nth-child(14) {
  background: turquoise;
  -webkit-transform: translateX(-138px) translateY(-29px) translateZ(5px) rotate3d(1, 1, 1, 52deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(14) {
  opacity: 1;
  -webkit-transform: translateX(-138px) translateY(-59px) translateZ(40px) rotate3d(1, 1, 1, 8deg) scale(1);
}

.dot:nth-child(15) {
  background: navy;
  -webkit-transform: translateX(-76px) translateY(-39px) translateZ(20px) rotate3d(1, 1, 1, 80deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(15) {
  opacity: 1;
  -webkit-transform: translateX(-76px) translateY(-69px) translateZ(16px) rotate3d(1, 1, 1, 3deg) scale(1);
}

.dot:nth-child(16) {
  background: aqua;
  -webkit-transform: translateX(-121px) translateY(-32px) translateZ(-10px) rotate3d(1, 1, 1, 21deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(16) {
  opacity: 1;
  -webkit-transform: translateX(-121px) translateY(-62px) translateZ(-64px) rotate3d(1, 1, 1, 2deg) scale(1);
}

.dot:nth-child(17) {
  background: blue;
  -webkit-transform: translateX(-163px) translateY(17px) translateZ(2px) rotate3d(1, 1, 1, 3deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(17) {
  opacity: 1;
  -webkit-transform: translateX(-163px) translateY(-13px) translateZ(-36px) rotate3d(1, 1, 1, 10deg) scale(1);
}

.dot:nth-child(18) {
  background: turquoise;
  -webkit-transform: translateX(-149px) translateY(0px) translateZ(-13px) rotate3d(1, 1, 1, 156deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(18) {
  opacity: 1;
  -webkit-transform: translateX(-149px) translateY(-30px) translateZ(-33px) rotate3d(1, 1, 1, 6deg) scale(1);
}

.dot:nth-child(19) {
  background: navy;
  -webkit-transform: translateX(156px) translateY(48px) translateZ(37px) rotate3d(1, 1, 1, 133deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(19) {
  opacity: 1;
  -webkit-transform: translateX(156px) translateY(18px) translateZ(28px) rotate3d(1, 1, 1, 6deg) scale(1);
}

.dot:nth-child(20) {
  background: aqua;
  -webkit-transform: translateX(43px) translateY(-17px) translateZ(26px) rotate3d(1, 1, 1, 101deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(20) {
  opacity: 1;
  -webkit-transform: translateX(43px) translateY(-47px) translateZ(-84px) rotate3d(1, 1, 1, 7deg) scale(1);
}

.dot:nth-child(21) {
  background: turquoise;
  -webkit-transform: translateX(-129px) translateY(24px) translateZ(-23px) rotate3d(1, 1, 1, 26deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(21) {
  opacity: 1;
  -webkit-transform: translateX(-129px) translateY(-6px) translateZ(-97px) rotate3d(1, 1, 1, 4deg) scale(1);
}

.dot:nth-child(22) {
  background: navy;
  -webkit-transform: translateX(-45px) translateY(-40px) translateZ(-37px) rotate3d(1, 1, 1, 221deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(22) {
  opacity: 1;
  -webkit-transform: translateX(-45px) translateY(-70px) translateZ(79px) rotate3d(1, 1, 1, 2deg) scale(1);
}

.dot:nth-child(23) {
  background: aqua;
  -webkit-transform: translateX(111px) translateY(-13px) translateZ(11px) rotate3d(1, 1, 1, 296deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(23) {
  opacity: 1;
  -webkit-transform: translateX(111px) translateY(-43px) translateZ(-23px) rotate3d(1, 1, 1, 3deg) scale(1);
}

.dot:nth-child(24) {
  background: blue;
  -webkit-transform: translateX(-79px) translateY(14px) translateZ(47px) rotate3d(1, 1, 1, 36deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(24) {
  opacity: 1;
  -webkit-transform: translateX(-79px) translateY(-16px) translateZ(-60px) rotate3d(1, 1, 1, 5deg) scale(1);
}

.dot:nth-child(25) {
  background: turquoise;
  -webkit-transform: translateX(155px) translateY(33px) translateZ(31px) rotate3d(1, 1, 1, 56deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(25) {
  opacity: 1;
  -webkit-transform: translateX(155px) translateY(3px) translateZ(-37px) rotate3d(1, 1, 1, 1deg) scale(1);
}

.dot:nth-child(26) {
  background: navy;
  -webkit-transform: translateX(91px) translateY(-14px) translateZ(9px) rotate3d(1, 1, 1, 127deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(26) {
  opacity: 1;
  -webkit-transform: translateX(91px) translateY(-44px) translateZ(-39px) rotate3d(1, 1, 1, 7deg) scale(1);
}

.dot:nth-child(27) {
  background: aqua;
  -webkit-transform: translateX(121px) translateY(-37px) translateZ(19px) rotate3d(1, 1, 1, 47deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(27) {
  opacity: 1;
  -webkit-transform: translateX(121px) translateY(-67px) translateZ(86px) rotate3d(1, 1, 1, 9deg) scale(1);
}

.dot:nth-child(28) {
  background: teal;
  -webkit-transform: translateX(141px) translateY(1px) translateZ(25px) rotate3d(1, 1, 1, 308deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(28) {
  opacity: 1;
  -webkit-transform: translateX(141px) translateY(-29px) translateZ(-47px) rotate3d(1, 1, 1, 4deg) scale(1);
}

.dot:nth-child(29) {
  background: blue;
  -webkit-transform: translateX(158px) translateY(6px) translateZ(35px) rotate3d(1, 1, 1, 246deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(29) {
  opacity: 1;
  -webkit-transform: translateX(158px) translateY(-24px) translateZ(-23px) rotate3d(1, 1, 1, 3deg) scale(1);
}

.dot:nth-child(30) {
  background: turquoise;
  -webkit-transform: translateX(-194px) translateY(-36px) translateZ(-3px) rotate3d(1, 1, 1, 301deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(30) {
  opacity: 1;
  -webkit-transform: translateX(-194px) translateY(-66px) translateZ(2px) rotate3d(1, 1, 1, 7deg) scale(1);
}

.dot:nth-child(31) {
  background: navy;
  -webkit-transform: translateX(-6px) translateY(32px) translateZ(34px) rotate3d(1, 1, 1, 61deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(31) {
  opacity: 1;
  -webkit-transform: translateX(-6px) translateY(2px) translateZ(46px) rotate3d(1, 1, 1, 8deg) scale(1);
}

.dot:nth-child(32) {
  background: aqua;
  -webkit-transform: translateX(57px) translateY(-35px) translateZ(-20px) rotate3d(1, 1, 1, 170deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(32) {
  opacity: 1;
  -webkit-transform: translateX(57px) translateY(-65px) translateZ(-59px) rotate3d(1, 1, 1, 2deg) scale(1);
}

.dot:nth-child(33) {
  background: teal;
  -webkit-transform: translateX(77px) translateY(-9px) translateZ(-22px) rotate3d(1, 1, 1, 219deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(33) {
  opacity: 1;
  -webkit-transform: translateX(77px) translateY(-39px) translateZ(-63px) rotate3d(1, 1, 1, 3deg) scale(1);
}

.dot:nth-child(34) {
  background: blue;
  -webkit-transform: translateX(144px) translateY(-40px) translateZ(16px) rotate3d(1, 1, 1, 302deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(34) {
  opacity: 1;
  -webkit-transform: translateX(144px) translateY(-70px) translateZ(-29px) rotate3d(1, 1, 1, 4deg) scale(1);
}

.dot:nth-child(35) {
  background: turquoise;
  -webkit-transform: translateX(56px) translateY(-19px) translateZ(-31px) rotate3d(1, 1, 1, 332deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(35) {
  opacity: 1;
  -webkit-transform: translateX(56px) translateY(-49px) translateZ(12px) rotate3d(1, 1, 1, 8deg) scale(1);
}

.dot:nth-child(36) {
  background: navy;
  -webkit-transform: translateX(-66px) translateY(-44px) translateZ(-35px) rotate3d(1, 1, 1, 304deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(36) {
  opacity: 1;
  -webkit-transform: translateX(-66px) translateY(-74px) translateZ(50px) rotate3d(1, 1, 1, 2deg) scale(1);
}

.dot:nth-child(37) {
  background: aqua;
  -webkit-transform: translateX(-147px) translateY(24px) translateZ(-36px) rotate3d(1, 1, 1, 347deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(37) {
  opacity: 1;
  -webkit-transform: translateX(-147px) translateY(-6px) translateZ(-96px) rotate3d(1, 1, 1, 5deg) scale(1);
}

.dot:nth-child(38) {
  background: teal;
  -webkit-transform: translateX(58px) translateY(19px) translateZ(1px) rotate3d(1, 1, 1, 33deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(38) {
  opacity: 1;
  -webkit-transform: translateX(58px) translateY(-11px) translateZ(-33px) rotate3d(1, 1, 1, 10deg) scale(1);
}

.dot:nth-child(39) {
  background: blue;
  -webkit-transform: translateX(-49px) translateY(-11px) translateZ(-25px) rotate3d(1, 1, 1, 360deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(39) {
  opacity: 1;
  -webkit-transform: translateX(-49px) translateY(-41px) translateZ(23px) rotate3d(1, 1, 1, 10deg) scale(1);
}

.dot:nth-child(40) {
  background: turquoise;
  -webkit-transform: translateX(14px) translateY(33px) translateZ(-17px) rotate3d(1, 1, 1, 308deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(40) {
  opacity: 1;
  -webkit-transform: translateX(14px) translateY(3px) translateZ(62px) rotate3d(1, 1, 1, 8deg) scale(1);
}

.dot:nth-child(41) {
  background: navy;
  -webkit-transform: translateX(-41px) translateY(40px) translateZ(50px) rotate3d(1, 1, 1, 308deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(41) {
  opacity: 1;
  -webkit-transform: translateX(-41px) translateY(10px) translateZ(64px) rotate3d(1, 1, 1, 7deg) scale(1);
}

.dot:nth-child(42) {
  background: aqua;
  -webkit-transform: translateX(106px) translateY(12px) translateZ(-1px) rotate3d(1, 1, 1, 68deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(42) {
  opacity: 1;
  -webkit-transform: translateX(106px) translateY(-18px) translateZ(60px) rotate3d(1, 1, 1, 10deg) scale(1);
}

.dot:nth-child(43) {
  background: teal;
  -webkit-transform: translateX(-103px) translateY(6px) translateZ(-23px) rotate3d(1, 1, 1, 129deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(43) {
  opacity: 1;
  -webkit-transform: translateX(-103px) translateY(-24px) translateZ(-12px) rotate3d(1, 1, 1, 3deg) scale(1);
}

.dot:nth-child(44) {
  background: blue;
  -webkit-transform: translateX(-128px) translateY(-19px) translateZ(-27px) rotate3d(1, 1, 1, 357deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(44) {
  opacity: 1;
  -webkit-transform: translateX(-128px) translateY(-49px) translateZ(43px) rotate3d(1, 1, 1, 1deg) scale(1);
}

.dot:nth-child(45) {
  background: turquoise;
  -webkit-transform: translateX(-8px) translateY(-29px) translateZ(33px) rotate3d(1, 1, 1, 57deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(45) {
  opacity: 1;
  -webkit-transform: translateX(-8px) translateY(-59px) translateZ(-16px) rotate3d(1, 1, 1, 3deg) scale(1);
}

.dot:nth-child(46) {
  background: navy;
  -webkit-transform: translateX(44px) translateY(36px) translateZ(9px) rotate3d(1, 1, 1, 106deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(46) {
  opacity: 1;
  -webkit-transform: translateX(44px) translateY(6px) translateZ(6px) rotate3d(1, 1, 1, 5deg) scale(1);
}

.dot:nth-child(47) {
  background: aqua;
  -webkit-transform: translateX(79px) translateY(-31px) translateZ(-26px) rotate3d(1, 1, 1, 132deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(47) {
  opacity: 1;
  -webkit-transform: translateX(79px) translateY(-61px) translateZ(-35px) rotate3d(1, 1, 1, 2deg) scale(1);
}

.dot:nth-child(48) {
  background: teal;
  -webkit-transform: translateX(-120px) translateY(39px) translateZ(-37px) rotate3d(1, 1, 1, 293deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(48) {
  opacity: 1;
  -webkit-transform: translateX(-120px) translateY(9px) translateZ(100px) rotate3d(1, 1, 1, 1deg) scale(1);
}

.dot:nth-child(49) {
  background: blue;
  -webkit-transform: translateX(-123px) translateY(46px) translateZ(-38px) rotate3d(1, 1, 1, 285deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(49) {
  opacity: 1;
  -webkit-transform: translateX(-123px) translateY(16px) translateZ(5px) rotate3d(1, 1, 1, 5deg) scale(1);
}

.dot:nth-child(50) {
  background: turquoise;
  -webkit-transform: translateX(196px) translateY(-21px) translateZ(-1px) rotate3d(1, 1, 1, 71deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(50) {
  opacity: 1;
  -webkit-transform: translateX(196px) translateY(-51px) translateZ(51px) rotate3d(1, 1, 1, 1deg) scale(1);
}

.dot:nth-child(51) {
  background: navy;
  -webkit-transform: translateX(199px) translateY(-26px) translateZ(-7px) rotate3d(1, 1, 1, 316deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(51) {
  opacity: 1;
  -webkit-transform: translateX(199px) translateY(-56px) translateZ(-56px) rotate3d(1, 1, 1, 5deg) scale(1);
}

.dot:nth-child(52) {
  background: aqua;
  -webkit-transform: translateX(79px) translateY(19px) translateZ(-31px) rotate3d(1, 1, 1, 130deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(52) {
  opacity: 1;
  -webkit-transform: translateX(79px) translateY(-11px) translateZ(64px) rotate3d(1, 1, 1, 5deg) scale(1);
}

.dot:nth-child(53) {
  background: teal;
  -webkit-transform: translateX(-165px) translateY(47px) translateZ(26px) rotate3d(1, 1, 1, 271deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(53) {
  opacity: 1;
  -webkit-transform: translateX(-165px) translateY(17px) translateZ(-27px) rotate3d(1, 1, 1, 6deg) scale(1);
}

.dot:nth-child(54) {
  background: blue;
  -webkit-transform: translateX(194px) translateY(15px) translateZ(12px) rotate3d(1, 1, 1, 102deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(54) {
  opacity: 1;
  -webkit-transform: translateX(194px) translateY(-15px) translateZ(-23px) rotate3d(1, 1, 1, 3deg) scale(1);
}

.dot:nth-child(55) {
  background: turquoise;
  -webkit-transform: translateX(-35px) translateY(-11px) translateZ(24px) rotate3d(1, 1, 1, 41deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(55) {
  opacity: 1;
  -webkit-transform: translateX(-35px) translateY(-41px) translateZ(-20px) rotate3d(1, 1, 1, 4deg) scale(1);
}

.dot:nth-child(56) {
  background: navy;
  -webkit-transform: translateX(198px) translateY(-39px) translateZ(-39px) rotate3d(1, 1, 1, 25deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(56) {
  opacity: 1;
  -webkit-transform: translateX(198px) translateY(-69px) translateZ(66px) rotate3d(1, 1, 1, 7deg) scale(1);
}

.dot:nth-child(57) {
  background: aqua;
  -webkit-transform: translateX(-148px) translateY(-23px) translateZ(-19px) rotate3d(1, 1, 1, 348deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(57) {
  opacity: 1;
  -webkit-transform: translateX(-148px) translateY(-53px) translateZ(-2px) rotate3d(1, 1, 1, 10deg) scale(1);
}

.dot:nth-child(58) {
  background: teal;
  -webkit-transform: translateX(-3px) translateY(-27px) translateZ(-32px) rotate3d(1, 1, 1, 52deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(58) {
  opacity: 1;
  -webkit-transform: translateX(-3px) translateY(-57px) translateZ(35px) rotate3d(1, 1, 1, 8deg) scale(1);
}

.dot:nth-child(59) {
  background: blue;
  -webkit-transform: translateX(37px) translateY(45px) translateZ(14px) rotate3d(1, 1, 1, 86deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(59) {
  opacity: 1;
  -webkit-transform: translateX(37px) translateY(15px) translateZ(-27px) rotate3d(1, 1, 1, 10deg) scale(1);
}

.dot:nth-child(60) {
  background: turquoise;
  -webkit-transform: translateX(-41px) translateY(-19px) translateZ(-33px) rotate3d(1, 1, 1, 204deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(60) {
  opacity: 1;
  -webkit-transform: translateX(-41px) translateY(-49px) translateZ(10px) rotate3d(1, 1, 1, 3deg) scale(1);
}

.dot:nth-child(61) {
  background: navy;
  -webkit-transform: translateX(58px) translateY(24px) translateZ(26px) rotate3d(1, 1, 1, 223deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(61) {
  opacity: 1;
  -webkit-transform: translateX(58px) translateY(-6px) translateZ(-30px) rotate3d(1, 1, 1, 1deg) scale(1);
}

.dot:nth-child(62) {
  background: aqua;
  -webkit-transform: translateX(53px) translateY(31px) translateZ(-14px) rotate3d(1, 1, 1, 86deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(62) {
  opacity: 1;
  -webkit-transform: translateX(53px) translateY(1px) translateZ(-22px) rotate3d(1, 1, 1, 4deg) scale(1);
}

.dot:nth-child(63) {
  background: teal;
  -webkit-transform: translateX(-95px) translateY(-41px) translateZ(-31px) rotate3d(1, 1, 1, 256deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(63) {
  opacity: 1;
  -webkit-transform: translateX(-95px) translateY(-71px) translateZ(16px) rotate3d(1, 1, 1, 3deg) scale(1);
}

.dot:nth-child(64) {
  background: blue;
  -webkit-transform: translateX(155px) translateY(-22px) translateZ(45px) rotate3d(1, 1, 1, 38deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(64) {
  opacity: 1;
  -webkit-transform: translateX(155px) translateY(-52px) translateZ(49px) rotate3d(1, 1, 1, 3deg) scale(1);
}

.dot:nth-child(65) {
  background: turquoise;
  -webkit-transform: translateX(62px) translateY(-4px) translateZ(48px) rotate3d(1, 1, 1, 170deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(65) {
  opacity: 1;
  -webkit-transform: translateX(62px) translateY(-34px) translateZ(93px) rotate3d(1, 1, 1, 8deg) scale(1);
}

.dot:nth-child(66) {
  background: navy;
  -webkit-transform: translateX(61px) translateY(-37px) translateZ(13px) rotate3d(1, 1, 1, 182deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(66) {
  opacity: 1;
  -webkit-transform: translateX(61px) translateY(-67px) translateZ(53px) rotate3d(1, 1, 1, 1deg) scale(1);
}

.dot:nth-child(67) {
  background: aqua;
  -webkit-transform: translateX(-168px) translateY(29px) translateZ(21px) rotate3d(1, 1, 1, 14deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(67) {
  opacity: 1;
  -webkit-transform: translateX(-168px) translateY(-1px) translateZ(-63px) rotate3d(1, 1, 1, 6deg) scale(1);
}

.dot:nth-child(68) {
  background: teal;
  -webkit-transform: translateX(113px) translateY(-39px) translateZ(-28px) rotate3d(1, 1, 1, 267deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(68) {
  opacity: 1;
  -webkit-transform: translateX(113px) translateY(-69px) translateZ(21px) rotate3d(1, 1, 1, 3deg) scale(1);
}

.dot:nth-child(69) {
  background: blue;
  -webkit-transform: translateX(-44px) translateY(-12px) translateZ(3px) rotate3d(1, 1, 1, 326deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(69) {
  opacity: 1;
  -webkit-transform: translateX(-44px) translateY(-42px) translateZ(-20px) rotate3d(1, 1, 1, 5deg) scale(1);
}

.dot:nth-child(70) {
  background: turquoise;
  -webkit-transform: translateX(177px) translateY(-40px) translateZ(10px) rotate3d(1, 1, 1, 345deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(70) {
  opacity: 1;
  -webkit-transform: translateX(177px) translateY(-70px) translateZ(14px) rotate3d(1, 1, 1, 4deg) scale(1);
}

.dot:nth-child(71) {
  background: navy;
  -webkit-transform: translateX(106px) translateY(-25px) translateZ(28px) rotate3d(1, 1, 1, 268deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(71) {
  opacity: 1;
  -webkit-transform: translateX(106px) translateY(-55px) translateZ(72px) rotate3d(1, 1, 1, 8deg) scale(1);
}

.dot:nth-child(72) {
  background: aqua;
  -webkit-transform: translateX(-16px) translateY(25px) translateZ(46px) rotate3d(1, 1, 1, 351deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(72) {
  opacity: 1;
  -webkit-transform: translateX(-16px) translateY(-5px) translateZ(-60px) rotate3d(1, 1, 1, 4deg) scale(1);
}

.dot:nth-child(73) {
  background: teal;
  -webkit-transform: translateX(-184px) translateY(39px) translateZ(26px) rotate3d(1, 1, 1, 85deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(73) {
  opacity: 1;
  -webkit-transform: translateX(-184px) translateY(9px) translateZ(12px) rotate3d(1, 1, 1, 4deg) scale(1);
}

.dot:nth-child(74) {
  background: blue;
  -webkit-transform: translateX(90px) translateY(14px) translateZ(12px) rotate3d(1, 1, 1, 112deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(74) {
  opacity: 1;
  -webkit-transform: translateX(90px) translateY(-16px) translateZ(-82px) rotate3d(1, 1, 1, 9deg) scale(1);
}

.dot:nth-child(75) {
  background: turquoise;
  -webkit-transform: translateX(31px) translateY(-19px) translateZ(36px) rotate3d(1, 1, 1, 93deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(75) {
  opacity: 1;
  -webkit-transform: translateX(31px) translateY(-49px) translateZ(90px) rotate3d(1, 1, 1, 2deg) scale(1);
}

.dot:nth-child(76) {
  background: navy;
  -webkit-transform: translateX(-54px) translateY(-23px) translateZ(-49px) rotate3d(1, 1, 1, 202deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(76) {
  opacity: 1;
  -webkit-transform: translateX(-54px) translateY(-53px) translateZ(20px) rotate3d(1, 1, 1, 10deg) scale(1);
}

.dot:nth-child(77) {
  background: aqua;
  -webkit-transform: translateX(150px) translateY(-16px) translateZ(36px) rotate3d(1, 1, 1, 253deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(77) {
  opacity: 1;
  -webkit-transform: translateX(150px) translateY(-46px) translateZ(-64px) rotate3d(1, 1, 1, 8deg) scale(1);
}

.dot:nth-child(78) {
  background: teal;
  -webkit-transform: translateX(128px) translateY(44px) translateZ(16px) rotate3d(1, 1, 1, 54deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(78) {
  opacity: 1;
  -webkit-transform: translateX(128px) translateY(14px) translateZ(-23px) rotate3d(1, 1, 1, 4deg) scale(1);
}

.dot:nth-child(79) {
  background: turquoise;
  -webkit-transform: translateX(-183px) translateY(44px) translateZ(-48px) rotate3d(1, 1, 1, 226deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(79) {
  opacity: 1;
  -webkit-transform: translateX(-183px) translateY(14px) translateZ(30px) rotate3d(1, 1, 1, 10deg) scale(1);
}

.dot:nth-child(80) {
  background: navy;
  -webkit-transform: translateX(116px) translateY(42px) translateZ(22px) rotate3d(1, 1, 1, 343deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(80) {
  opacity: 1;
  -webkit-transform: translateX(116px) translateY(12px) translateZ(45px) rotate3d(1, 1, 1, 1deg) scale(1);
}

.dot:nth-child(81) {
  background: aqua;
  -webkit-transform: translateX(-4px) translateY(-24px) translateZ(-6px) rotate3d(1, 1, 1, 281deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(81) {
  opacity: 1;
  -webkit-transform: translateX(-4px) translateY(-54px) translateZ(-50px) rotate3d(1, 1, 1, 4deg) scale(1);
}

.dot:nth-child(82) {
  background: teal;
  -webkit-transform: translateX(-43px) translateY(-36px) translateZ(1px) rotate3d(1, 1, 1, 308deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(82) {
  opacity: 1;
  -webkit-transform: translateX(-43px) translateY(-66px) translateZ(-75px) rotate3d(1, 1, 1, 6deg) scale(1);
}

.dot:nth-child(83) {
  background: blue;
  -webkit-transform: translateX(-29px) translateY(46px) translateZ(45px) rotate3d(1, 1, 1, 113deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(83) {
  opacity: 1;
  -webkit-transform: translateX(-29px) translateY(16px) translateZ(93px) rotate3d(1, 1, 1, 1deg) scale(1);
}

.dot:nth-child(84) {
  background: turquoise;
  -webkit-transform: translateX(51px) translateY(18px) translateZ(10px) rotate3d(1, 1, 1, 171deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(84) {
  opacity: 1;
  -webkit-transform: translateX(51px) translateY(-12px) translateZ(-25px) rotate3d(1, 1, 1, 1deg) scale(1);
}

.dot:nth-child(85) {
  background: navy;
  -webkit-transform: translateX(144px) translateY(27px) translateZ(-13px) rotate3d(1, 1, 1, 172deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(85) {
  opacity: 1;
  -webkit-transform: translateX(144px) translateY(-3px) translateZ(97px) rotate3d(1, 1, 1, 9deg) scale(1);
}

.dot:nth-child(86) {
  background: aqua;
  -webkit-transform: translateX(26px) translateY(-12px) translateZ(38px) rotate3d(1, 1, 1, 131deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(86) {
  opacity: 1;
  -webkit-transform: translateX(26px) translateY(-42px) translateZ(-25px) rotate3d(1, 1, 1, 1deg) scale(1);
}

.dot:nth-child(87) {
  background: teal;
  -webkit-transform: translateX(-133px) translateY(28px) translateZ(-28px) rotate3d(1, 1, 1, 253deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(87) {
  opacity: 1;
  -webkit-transform: translateX(-133px) translateY(-2px) translateZ(79px) rotate3d(1, 1, 1, 3deg) scale(1);
}

.dot:nth-child(88) {
  background: blue;
  -webkit-transform: translateX(-116px) translateY(21px) translateZ(-46px) rotate3d(1, 1, 1, 258deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(88) {
  opacity: 1;
  -webkit-transform: translateX(-116px) translateY(-9px) translateZ(57px) rotate3d(1, 1, 1, 3deg) scale(1);
}

.dot:nth-child(89) {
  background: turquoise;
  -webkit-transform: translateX(90px) translateY(17px) translateZ(50px) rotate3d(1, 1, 1, 210deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(89) {
  opacity: 1;
  -webkit-transform: translateX(90px) translateY(-13px) translateZ(11px) rotate3d(1, 1, 1, 4deg) scale(1);
}

.dot:nth-child(90) {
  background: navy;
  -webkit-transform: translateX(175px) translateY(27px) translateZ(-18px) rotate3d(1, 1, 1, 145deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(90) {
  opacity: 1;
  -webkit-transform: translateX(175px) translateY(-3px) translateZ(-61px) rotate3d(1, 1, 1, 3deg) scale(1);
}

.dot:nth-child(91) {
  background: aqua;
  -webkit-transform: translateX(54px) translateY(-42px) translateZ(-18px) rotate3d(1, 1, 1, 203deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(91) {
  opacity: 1;
  -webkit-transform: translateX(54px) translateY(-72px) translateZ(74px) rotate3d(1, 1, 1, 10deg) scale(1);
}

.dot:nth-child(92) {
  background: teal;
  -webkit-transform: translateX(-182px) translateY(19px) translateZ(-23px) rotate3d(1, 1, 1, 283deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(92) {
  opacity: 1;
  -webkit-transform: translateX(-182px) translateY(-11px) translateZ(76px) rotate3d(1, 1, 1, 6deg) scale(1);
}

.dot:nth-child(93) {
  background: blue;
  -webkit-transform: translateX(-66px) translateY(19px) translateZ(27px) rotate3d(1, 1, 1, 45deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(93) {
  opacity: 1;
  -webkit-transform: translateX(-66px) translateY(-11px) translateZ(-11px) rotate3d(1, 1, 1, 5deg) scale(1);
}

.dot:nth-child(94) {
  background: turquoise;
  -webkit-transform: translateX(-115px) translateY(2px) translateZ(-20px) rotate3d(1, 1, 1, 305deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(94) {
  opacity: 1;
  -webkit-transform: translateX(-115px) translateY(-28px) translateZ(-12px) rotate3d(1, 1, 1, 9deg) scale(1);
}

.dot:nth-child(95) {
  background: navy;
  -webkit-transform: translateX(-152px) translateY(-22px) translateZ(-16px) rotate3d(1, 1, 1, 291deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(95) {
  opacity: 1;
  -webkit-transform: translateX(-152px) translateY(-52px) translateZ(-12px) rotate3d(1, 1, 1, 6deg) scale(1);
}

.dot:nth-child(96) {
  background: aqua
  -webkit-transform: translateX(179px) translateY(21px) translateZ(-10px) rotate3d(1, 1, 1, 238deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(96) {
  opacity: 1;
  -webkit-transform: translateX(179px) translateY(-9px) translateZ(-58px) rotate3d(1, 1, 1, 9deg) scale(1);
}

.dot:nth-child(97) {
  background: navy;
  -webkit-transform: translateX(-53px) translateY(9px) translateZ(-3px) rotate3d(1, 1, 1, 23deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(97) {
  opacity: 1;
  -webkit-transform: translateX(-53px) translateY(-21px) translateZ(14px) rotate3d(1, 1, 1, 1deg) scale(1);
}

.dot:nth-child(98) {
  background: blue;
  -webkit-transform: translateX(-141px) translateY(23px) translateZ(-16px) rotate3d(1, 1, 1, 178deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(98) {
  opacity: 1;
  -webkit-transform: translateX(-141px) translateY(-7px) translateZ(-10px) rotate3d(1, 1, 1, 7deg) scale(1);
}

.dot:nth-child(99) {
  background: turquoise;
  -webkit-transform: translateX(165px) translateY(-28px) translateZ(-28px) rotate3d(1, 1, 1, 242deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(99) {
  opacity: 1;
  -webkit-transform: translateX(165px) translateY(-58px) translateZ(-68px) rotate3d(1, 1, 1, 6deg) scale(1);
}

.dot:nth-child(100) {
  background: navy;
  -webkit-transform: translateX(117px) translateY(-23px) translateZ(-29px) rotate3d(1, 1, 1, 320deg) scale(0.2);
}
.wrapper:hover .dot:nth-child(100) {
  opacity: 1;
  -webkit-transform: translateX(117px) translateY(-53px) translateZ(-18px) rotate3d(1, 1, 1, 9deg) scale(1);
}
#nav2{
  text-align: left;
  font-size: 20px;
}